.header{
    text-align: center;
    border: 1px solid #dddddd;
    background-color: white;
    color: purple;
    font-family: Verdana, Georgia, Helvetica;
}

body{
    background-color: #b6aab8;
    color: #171717;
    font-family: Verdana, Georgia, Helvetica;
    text-align: center
}    

.info{
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: rgba(0,0,0,0.1)
}

p{
    color: white;
    padding: 300px;
}